#userControlBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 8px;
}

#userInfo {
  flex: 5;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  padding: 5px;
}

#userName::after {
  content: attr(datatext);
}

#userStatus {
  border-style: solid;
  min-height: 40px;
  min-width: 40px;
  border-radius: 7px;
  padding: 2px;
  background-color: chartreuse;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#userStatus::after {
  content: attr(data-text);
}

#settingsIcon {
  flex: 1;
  font-size: 26px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 61px;
  border-radius: 20px;
}

#settingsIcon:hover {
  background-color: #404040cc;
}

#userProfilePic {
  height: 45px;
  width: 45px;
  font-size: 12px;
  margin-right: 5px;
}