#leftSideTitle {
    color: #f5f5f5;
    text-align: 'center';
    height: 3%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #404040;
    display: block;
    /* float: left; */
    overflow: hidden;
    border: 2px, solid, grey
}
#leftSideTitle.p {
    text-align: 'center';
    font-size: 18px;
}
