#latestMessage {
    padding-left: 1px;
    color: black;
    margin-bottom: 4px;
    margin-left: 15px;
    margin-right: 0px;
    background-color: #e2b027;
    display: block;
}
#latestMessageName {
    padding-left: 7px;
    font-size: 22px;
    font-weight: 600;
}
#latestMessageDate {
    text-align: right;
    padding-right: 5px;
    font-size: 15px;
}
#latestMessageMessage {
    padding-left: 5px;
    display: block;
    font-weight: 300;
    font-size: 15px;
    margin: 3px;
}

#latestMessage.p {
    font-size: 20px;
}