.latestMessage {
    padding-left: 1px;
    display: block;
    font-size: 16px;
}
.latestMessageName {
    padding-left: 7px;
    font-size: 22px;
    font-weight: 600;
}
.latestMessageDate {
    text-align: right;
    padding-right: 5px;
}
.latestMessageMessage {
    padding-left: 5px;
    display: block;
    font-weight: 300;
    margin: 3px;
}

.unreadMessagesCount {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #262626cc;
    color: blanchedalmond;
    font-size: 13px;
    text-align: center;
}