#menuLeftContent {
    float: left;
    /* width: 25%; */
    height: 100%;
    padding-left: 10px;
    /* position: relative; */
}
#latestMessage {
    text-align: 'center';
    padding-left: 10px;
    /* background-color: grey; */
    color: black;
    margin: 3px;
    /* display: block; */
    /* position: relative; */
}
h1 {
    text-align: 'center';
}
p {
    text-align: 'center';
}

.leftSideContainer {
    height: 850px;
    width: 25%;
    max-height: 100%;
    background-color: #404040;
}