#menuLeftContent {
    float: left;
    /* width: 25%; */
    height: 100%;
    padding-left: 10px;
    /* position: relative; */
}
#latestMessage {
    text-align: 'center';
    padding-left: 10px;
    /* background-color: grey; */
    color: black;
    margin: 3px;
    /* display: block; */
    /* position: relative; */
}
h1 {
    text-align: 'center';
}
p {
    text-align: 'center';
}

.leftSideContainer {
    height: 100%;
    width: 25%;
    background-color: #404040;
}

.latestMessagesContainer {
    height: 97%;
    overflow-y: scroll;
}

#appTitleBox {
    height: 64%;
    display: flex;
    flex-direction: row;
    background-color: #ffc933;
    font-weight: bold;
}

#settingsIcon {
    font-size: 24px; 
    align-self: center;
    text-align: center;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 7px;
}

#settingsIcon:hover {
    background-color: #404040cc;
}

#textLatestMessages {
    color: #f5f5f5;
    text-align: center;
    height: 36%;
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
    /* float: left; */
    overflow: hidden;
    border: 2px, solid, grey;
}
