#latestMessage {
    text-align: 'center';
    padding-left: 1px;
    /* background-color: grey; */
    color: black;
    margin-bottom: 2px;
    margin-right: 10px;
    background-color: #e2b027;
    display: block;
    /* clear: both; */
    /* position: relative; */
}
#latestMessageName {
    padding-left: 7px;
    font-size: 22px;
    /* float: left; */
    font-weight: 600;
    /* border: 1px solid black; */
}
#latestMessageDate {
    /* float: right; */
    /* width: 45%; */
    text-align: right;
    font-size: 15px;

    /* font-size: 15px; */
}
#latestMessageMessage {
    padding-left: 5px;
    display: block;
    font-weight: 300;
    font-size: 15px;
    margin: 3px;
    
}
#latestMessage.h1 {
    text-align: 'center';
}

#latestMessage.p {
    text-align: 'center';
    font-size: 20px;
}