#FileBox {
    position: absolute;
    z-index: 16;
    width: 30%;
    min-width: 350px;
    left: 27%;
    bottom: 50px;
    background-color: #444c;
    /* padding: 5px; */
}

#fileInput {
    height: 50%;
    width: 100%;
    flex: 1;
    font-size: 24px;
    border: none;
    padding: 5px;
}

#sizeLabel {
    font-size: 24px;
    float: right;
}

#uploadSection {
    padding: 5px;
    width: 100%;
}

#uploadButton {
    height: 100%;
    font-size: 24px;
}

#uploadProgressBarBox {
    height: 5px;
    width: 100%;
    background-color:rgb(136, 136, 136);
    margin-top: 4px;
}

#uploadProgressBar {
    height: 5px;
}