#FileBox {
    position: absolute;
    z-index: 16;
    /* height: 5%; */
    width: 30%;
    left: 27%;
    bottom: 50px;
    background-color: #444c;
}
.file-input {
    height: 95%;
    width: 100%;
    /* background-color: #444c; */
}
.size-label {
    width: 100%;
    /* background-color: #444c; */
}

