* {
  z-index: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.btn {
  display: inline-block;
  border: none;
  background: #262626;
  color: #f5f5f5;
  padding: 7px 20px;
  cursor: pointer;
}
.btn:hover {
  background: #666;
}

#MessageContainer {
  padding-top: 10px;
  height: calc(100% - 44px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#MessageBoard {
  display: flex;
  justify-content: center;
  height: calc(100% - 40px);
}

#chatHeader {
  height: 44px;
  width: 100%;
  background-color: #4f4f4f;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#chatName {
  font-size: 30px;
  font-weight: bold;
}
#chatName::after {
  content: attr(datatext);
}

#chatOptionsButton {
  position: relative;
  width: 44px;
  height: 100%;
  text-align: center;
  padding-left: 7px;
  z-index: 17;
}

#chatOptionsButton:hover {
  background-color: #26262666;
}

#chatOptionsButton:after {
  font-size: 30px;
  content: '\2807';
}

#chatOptions {
  position:absolute;
  top: 44px;
  right: 0px;
  width: 300px;
  background-color: #262626ee;
  text-align: left;
  word-wrap: break-word;
  padding-left: 10%;
}
#copyOption:after {
  font-size: 20px;
  content: attr(datatext);
}

#chatCodeField {
  padding: 5px; 
  height: 40px;
  width: 95%; 
  padding-right: 5px; 
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-weight: bold;
  font-size: 20px;
}

#chatCodeFieldLabel {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

#chatCodeFieldLabel:after {
  content: attr(datatext);
}


#invalidCodeError {
  margin-bottom: 5px;
  color: red;
  font-size: 12px;
}

#invalidCodeError:after {
  content: attr(datatext);
}