#menuLeftContent {
    float: left;
    /* width: 25%; */
    height: 100%;
    margin: 1px;
    padding-left: 10px;
    background-color: aqua;
    width: 24%;
}
#latestMessage {
    text-align: 'center';
    padding-left: 10px;
    /* background-color: grey; */
    color: black;
    width: 24%;
    margin-top: 1px;
    border: solid;
    border-radius: 5px;
}

h1 {
    text-align: 'center';
}
p {
    text-align: 'center';
}