#latestMessage {
    text-align: 'center';
    padding-left: 0px;
    /* background-color: grey; */
    color: black;
    width: 25%;
    margin-top: auto;
    border: 1px solid black;
    border-radius: 0px;
    background-color: #809fff;
    display: block;
    /* clear: both; */
    /* position: relative; */
}
#latestMessageName {
    padding-left: 7px;
    font-size: 22px;
    width: 50%;
    /* float: left; */
    font-weight: 600;
    /* border: 1px solid black; */
}
#latestMessageDate {
    /* float: right; */
    /* width: 45%; */
    text-align: right;
    font-size: 15px;

    /* font-size: 15px; */
}
#latestMessageMessage {
    padding-left: 5px;
    display: block;
    font-weight: 300;
    font-size: 15px;
    width: 100%;
    
}
#latestMessage.h1 {
    text-align: 'center';
}

#latestMessage.p {
    text-align: 'center';
    font-size: 20px;
}