#SettingsBox {
  position: absolute;
  z-index: 17;
  height: 70%;
  min-height: 400px;
  width: 40%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  top: 0;
  background-color: #44444c;
}
#SettingsBoxHeaderContainer {
  height: 10%;
  min-height: 45px;
  padding: 10px;
  z-index: 12;
  background-color: #33333c;
  color: #fff;
  display: flex;
  flex-direction: row;
}
#SettingsBoxHeader {
  width: 95%;
  padding-left: 20px;
  font-size: 25px;
}
#SettingsContainer {
  color: white;
  padding-left: 15px;
  padding-top: 15px;
  height: 80%;
  overflow-y: scroll;
  z-index: 12;
  display: block;
}

.XButtonSettings {
  height: 25px;
  width: 25px;
  background: #282828;
  border-radius: 7px;
  position: relative;
}

.XButtonSettings::after {
  position: absolute;
  left: 0;
  right: 1px;
  content: "\d7";
  font-size: 27px;
  color: #be1616;
  line-height: 18px;
  text-align: center;
}

.XButtonSettings:hover {
  background: #be1616;
}

.XButtonSettings:hover::after {
  color: #282828;
}

p {
  align-self: center;
  padding-left: 10px;
}

.SettingElement {
  width: 70%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 5%;
  margin-bottom: 30px;
}

.rc-slider-mark {
  padding-top: 7px;
}

.rc-slider-step {
  border-color: rgb(44, 71, 112);
  background-color: rgb(44, 71, 112);
}

.rc-slider-handle {
  background-color: #ff5f00;
  border-color: #ff5f00;
}


#colorPicker1 {
  width: 40%;
  float: left;
  margin-left: 20px;
  z-index: 12;
}

#colorPicker2 {
  width: 40%;
  float: right;
  margin-right: 20px;
  z-index: 12;
}

#colorPicker1 label {
  color: white;
}

#colorPicker2 label {
  color: white;
}

.Select {
  width: 444px !important;
  margin-right: 5px;
  z-index: 12 !important;
}

.Select-menu {
  position: fixed !important;
}

.Select.is-open {
  position: relative;
  z-index: 1000;
}
.Select-menu {
  position: fixed !important;
  width: 440px !important;
  margin: 1px;
  z-index: 13;
}


#saveSettingsButton {
  width: 40%;
  font-size: 16px;
  background-color: #33333c;
  color: #fff;
  border: 0;
}

#saveSettingsButton:hover {
  background-color: #3336;
  color: white;
}

#logoutButton {
  width: 20%;
  background: transparent;
  border: 0;
  border: 1px solid #a52f2f;
  border-radius: 7px ;
  font-size: 16px;
  font-weight: bold;
  color:#a52f2f;
}

#logoutButton:hover {
  background-color: #3336;
}


#resetSettingsButton {
  width: 30%;
  font-size: 16px;
  background-color: #33333c;
  color: #fff;
  border: 0;
}

#resetSettingsButton:hover {
  background-color: #3336;
  color: white;
}
