#EmojiBox {
  position: absolute;
  z-index: 15;
  height: 35%;
  width: 30%;
  left: 27%;
  bottom: 100px;
  background-color: #444c;
}

#EmojiBoxHeaderContainer {
  height: 20%;
  padding: 10px;
  background-color: #333c;
  color: #fff;
  display: flex;
  flex-direction: row;
}

#EmojiBoxHeader {
  width: 95%;
  cursor: move;
  padding-left: 20px;
  font-size: 25px;
  overflow: hidden;
}

#EmojiContainer {
  height: 80%;
  padding: 15px;
  overflow-y: scroll;
}

#EmojiContainer::-webkit-scrollbar-thumb {
  background: #888;
}

.XButton {
  height: 25px;
  width: 25px;
  background: #282828;
  border-radius: 7px;
  position: relative;
}

.XButton::after {
  position: absolute;
  left: 0;
  right: 1px;
  content: "\d7";
  font-size: 27px;
  color: #be1616;
  line-height: 18px;
  text-align: center;
}

.XButton:hover {
  background: #be1616;
}

.XButton:hover::after {
  color: #282828;
}
